<!doctype html>
<html>
<head>
	<title>Xcuses</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px;background-color:black; }
		.container{background-color:white;}
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Xcuse</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/xcuse" method="post">
		<div class="form-group">
			<label>Xcuse</label>
			<input type="text" class="form-control" name="excuse">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Submit</button>
	</form>

	<hr>

	<p><a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

	<div class="text-center">
		<!-- <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
		<p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p> -->
	</div>

</div>
</div>
</body>
</html>